<%- include('layouts/head') %>

    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col">

                <table class="table table-striped">
                    <h1>Users</h1>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col">Full name</th>
                            <th scope="col"></th>
                            <th scope="col">Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let zero=0; %>
                            <% users.forEach((u)=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= ++zero %>
                                    </th>
                                    <td>
                                        <%= u.email; %>
                                    </td>
                                    <td>
                                        <a href='<%= url + u._id %>/delete' style='text-decoration: none;'>delete</a>
                                    </td>
                                    <td>
                                        <%= u.fullName; %>
                                    </td>
                                    <td>
                                        <%= u.age || '-' ; %>
                                    </td>
                                </tr>
                                <% }); %>
                    </tbody>

                    </tbody>
                </table>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>

<%- include('layouts/foot') %>
