<%- include('layouts/head') %>
<%- include('layouts/sidebar') %> 
            <div class="col">
                
                <h1>Users</h1>
                <table class="table table-striped">
                    <a class="btn btn-primary" href='<%= url %>create' role="button">Create new User</a>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col">Full name</th>
                            <th scope="col"></th>
                            <th scope="col">Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let zero=0; %>
                            <% users.forEach((u)=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= ++zero %>
                                    </th>
                                    <td>
                                        <%= u.email; %>
                                    </td>
                                    <td>
                                        <a href='<%= url + u._id %>/delete' style='text-decoration: none;'>delete</a>
                                    </td>
                                    <td>
                                        <%= u.fullName; %>
                                    </td>
                                    <td>
                                        <a href='<%= url + u._id %>/update' style='text-decoration: none;'>update</a>
                                    </td>
                                    <td>
                                        <%= u.age || '-' ; %>
                                    </td>
                                </tr>
                                <% }); %>
                    </tbody>

                    </tbody>
                </table>
            </div>
            <div class="col-1">
            </div>


<%- include('layouts/foot') %>
